@import "./components/_normalize.scss";
@import "./components/_ui.scss";
@import "./components/_table.scss";
@import "./components/_swiper.scss";
@import "./components/_header.scss";
@import "./components/_footer.scss";
@import "./components/_index.scss";
@import "./components/_map.scss";
@import "./components/_workshop.scss";
@import "./components/_account.scss";

@font-face {
    font-family: 'Soyuz';
    src: url('../fonts/Soyuz/Soyuz Grotesk Bold.otf') format('truetype');
}

@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest/OnestMedium1602-hint.ttf') format('truetype');
    font-weight:bold;
}
@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest/OnestRegular1602-hint.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest/OnestThin1602-hint.ttf') format('truetype');
    font-weight:lighter;
}

body {
    font-family: 'Onest'; /* использование подключенного шрифта */
}

html{
    font-size:24px;
}