@import "./components/_normalize.scss";
@import "./components/_ui.scss";
@import "./components/_table.scss";
@import "./components/_swiper.scss";
@import "./components/_footer.scss";
@import "./components/_header.scss";
@import "./components/_index.scss";
@import "./components/_map.scss";
@import "./components/_workshop.scss";
@import "./components/_calendar.scss";
@import "./components/_account.scss";
@import "./components/_moderation.scss";
@import "./components/_signup.scss";
@import "./components/_popup.scss";
@import "./components/_signpopup.scss";

@font-face {
    font-family: 'Soyuz';
    src: url('../fonts/Soyuz/Soyuz Grotesk Bold.otf') format('truetype');
}

@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest/OnestMedium1602-hint.ttf') format('truetype');
    font-weight:bold;
}
@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest/OnestRegular1602-hint.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest/OnestThin1602-hint.ttf') format('truetype');
    font-weight:lighter;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight:normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight:bolder;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight:bold;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight:700;
}

body {
    font-family: 'Onest'; /* использование подключенного шрифта */
}

html{
    font-size:24px;
}

a{
    text-decoration: none;
    color:unset;
}