.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.91rem 11.3rem;
  background-color: transparent; /* Пример цвета фона */
  color: #fff; /* Пример цвета текста */
  border-bottom: 2px solid #fff;
  &__logo{
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  &__search{
    text-transform: uppercase;
  }
  &__search a, &__logo a{
    text-decoration: none;
    color: inherit;
  }
  &__contact-info{
    display: flex;
    align-items: center;
    .phone-number {
        margin-right: 1.5rem;
      }
      .account-icon {
        /* Стили для иконки аккаунта */
      }
  }
  &__logo h1, &__search p, &__contact-info{
    margin:0;
  }
}
