.search-section{
    display: flex;
    flex-direction: row;
    padding-left:8.33rem;
    background-color: #232323;
    border-bottom: 1px solid #fff;
    height: 70vh;

    position: relative; /* Добавлено для относительного позиционирования */
}
#map{
   width: 100%;
   height: 100%;
}
.map-block {
    flex: 1;
    position: relative;
    height:70vh;
}
.filter-block{
    width:35%;
    padding-right: 0.5rem;
    height:70vh;
    overflow-y:auto;

    transition: transform 0.8s ease-in-out; /* Добавлен переход для плавного выезда */

    &__headlist{
        list-style-type: none;
        margin-bottom: 0;
        &__service-type{
            font-family: "Montserrat";
            font-weight: 700;
            font-size: 1.45rem;
            margin-bottom:0.625rem;
            cursor:pointer;
        }
    }
    &__list{
        list-style-type: none;
        &__service{
            font-family:"Onest";
            font-weight: normal;
            font-size:1rem;
            line-height: 170%;
        }
    }
}
#filterForm{
    display:flex;
    flex-direction: column;
    color:#fff;
    margin-top: 2rem;
}
#working-hours-slider {
    width: 300px;
    margin: 20px;
}
.filterForm{
    &__time-filter{
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-start;
        padding-bottom:1rem;
        &__block{
            display:flex;
            flex-direction: row;
            width: min-content;
    
            & input[type="text"]{
                width:6rem;
                margin: 0;
                padding:0.3rem;
                border-width: 2px;
            }
        }
    }
   
}
#start-time{
    text-align: left;
    border-radius: 10px 0 0 10px;
    border-right: 0.5px solid white;
}
#end-time{
    text-align: right;
    border-radius: 0 10px 10px 0;
    border-left: 0.5px solid white;
}
.noUi-connect{
    background-color: #3f3f3f !important;
}
/* Округление ползунков */
.noUi-handle {
    border-radius: 50% !important; /* Делаем ползунок круглым */
    width:34px !important;
    height: 34px !important;
    top:-8px !important;

}
.noUi-handle::after, .noUi-handle::before{
    display: none !important;
}
li>ul{
    margin-top:0.625rem;
}
input[type="checkbox"]{
    margin-right:0.625rem;
}
/* Стиль для кнопки-бургера */
.burger-menu {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1002;
    
}
.burger-menu svg path{
    transition: 0.5s ease-in-out;
}

.burger-menu.open span:nth-child(1) {
    transform: rotate(45deg) translate(9px, 9px);
}

.burger-menu.open span:nth-child(2) {
    opacity: 0;
}

.burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(3px, -3px);
}
//responsive
@media screen and (max-width: 1536px) {
    .filter-block{
        width:40%;
        padding-right: 1rem;
        &__headlist{
            &__service-type{
                font-size:1.3rem;
            }
        }
    }
    .search-section{
        padding-left: 6rem;
    }
    #filterForm{
        margin-top: 1rem;
    }
}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1280px) {
    .filter-block{
        &__headlist{
            &__service-type{
                font-size:1rem;
            }
        }
        &__list{
            &__service{
                font-size: 0.8rem;
                & input[type="checkbox"]{
                    margin-right: 0.5rem !important;
                    height:15px;
                    width:15px;
                }
            }
        }
    }
    .search-section{
        padding-left: 6rem;
    }
    #filterForm{
        margin-top: 0.8rem;
    }
    #working-hours-slider{
        width:250px;
    }
    .filterForm{
        &__time-filter{
            &__block{
                & input[type="text"]{
                    width:5rem;
                }
            }
        }
    }
    .noUi-handle{
        width:25px !important;
        height: 25px !important;
        top: -5px !important;
    }
}
@media screen and (max-width: 1024px) {
    .search-section {
        padding-left: 0;
    }

    .burger-menu {
        display: block;
    }

    .filter-block {
        position: absolute;
        left: -100%;
        background-color: #232323;
        z-index: 1001;
        transition: transform 0.3s ease-in-out;
        padding-left: 1rem;
    }

    .filter-block.open {
        transform: translateX(220%);
    }
}
@media screen and (max-width: 834px) {

}
@media screen and (max-width: 736px) {
    .filter-block{
        &__headlist{
            &__service-type{
                font-size:0.8rem;
            }
        }
        &__list{
            padding-left: 1rem;
            &__service{
                font-size: 0.5rem;
                & input[type="checkbox"]{
                    margin-right: 0.5rem !important;
                    height:10px;
                    width:10px;
                }
            }
        }
    }
    #filterForm{
        margin-left:0.5rem;
        margin-top: 0.5rem;
    }
    #working-hours-slider{
        width:150px;
    }
    .filterForm{
        &__time-filter{
            &__block{
                & input[type="text"]{
                    width:3rem;
                }
            }
        }
    }
    #start-time, #end-time{
        font-size: 0.8rem !important;
    }
    .noUi-horizontal{
        height:10px !important;
    }

    .noUi-handle{
        width:20px !important;
        height: 20px !important;
        top: -5px !important;
    }
    .filter-block.open {
        transform: translateX(205%);
    }
}
@media screen and (max-width: 540px) {
    #working-hours-slider{
        width:100%;
    }
    .filterForm{
        &__time-filter{
            padding-left:0;
        }
    }
    .filter-block{
        &__headlist{
            padding-left: 0;
        }
    }
}
@media screen and (max-width: 414px) {

}
@media screen and (max-width: 375px) {
    .filter-block.open {
        transform: translateX(200%);
    }
}
@media screen and (max-width: 320px) {
    .search-section{
        overflow: hidden;
    }
    .filter-block.open {
        transform: translateX(105%);
    }
    .filter-block{
        width: 100%;
        left:-120%;
    }
    .filterForm{
        &__time-filter{
            width:90%;
        }
    }
    #start-time, #end-time{
        width:7rem;
    }
    .burger-menu.open svg path{
        fill: #fff;
        transition: 0.5s ease-in-out;
    }
}
