.moderator-section{
    padding: 0 8.33rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.accounts{
    flex-direction: column;
}
.add-service-input, .admin-input, .user-input{
    border:none !important;
    border-bottom:1px solid #232323 !important;
    color:#232323 !important;
    width: 5rem !important;
    z-index: 0 !important;
    &:focus{
        border:none !important;
        border-bottom:1px solid #232323 !important;
        outline: none !important;
    }
}
.add-service-button, .block-user, .delete-service, .block-worker, .delete-relation, .add-worker-button, .add-service-button, .add-relation-button, .add-workshop-button, .update-workshop, .delete-workshop, .add-service-type-button, .delete-service-type{
    cursor: pointer;
}