.moderator-section{
    padding: 0 8.33rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.moder-section{
    flex-direction: column;
    justify-content: center;
}
.moder-nav {
    position: absolute;
    left: -100%;
    background-color: #232323;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    transition: left 0.3s ease-in-out;

    &.active {
        left: 0;
    }
}
.moder-menu-account{
    display:flex;
}
.accounts{
    flex-direction: column;
}
.add-service-input, .admin-input, .user-input{
    border:none !important;
    border-bottom:1px solid #232323 !important;
    color:#232323 !important;
    width: 5rem !important;
    z-index: 0 !important;
    &:focus{
        border:none !important;
        border-bottom:1px solid #232323 !important;
        outline: none !important;
    }
}
.add-service-button, .block-user, .delete-service, .block-worker, .delete-relation, .add-worker-button, .add-service-button, .add-relation-button, .add-workshop-button, .update-workshop, .delete-workshop, .add-service-type-button, .delete-service-type{
    cursor: pointer;
}
.total-price{
    width:40px !important;
}
.mechan-status-select{
    width:125px;
}
.mechan-comment{
    width:15rem !important;
    height:5rem;
}