swiper-container {
    width: 14rem;
    height: 18rem;
    
  }

  swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
  }

  swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
  }

  swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
  }

  swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
  }

  swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
  }

  swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
  }

  swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
  }

  swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
  }

  swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
  }

  swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
  }

  .swiper {
    width: 100%;
  }
  .container {
    border-radius: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: #232323;
    border: 1px solid #474747;
    border-radius: 45px;
    color:#fff;
    padding:2.05rem 3.5rem;
    width: fit-content !important;

    &__head{
      font-size:1.67rem;
      margin:0;
      margin-bottom: 2.95rem;
    }
    &__discount{
      font-family:"Soyuz";
      font-size:5rem;
      margin:0;
      margin-bottom: 2rem;
    }
    &__description{
      font-size: 1.17rem;
      margin:0;
      margin-bottom: 1.75rem;
    }
  }
  .swiper-pagination-bullet {
    height: 7px;
    width: 26px;
    background: #474747;
    border-radius: 25px;
  }
  .card:nth-child(even){
    color:#232323;
    background: #fff;
    border: 1px solid #000000;
  }