swiper-container {
  width: 16rem;
  height: 22rem;

}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 70px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-img {
  height: 100% !important;
}


.swiper2 {
  width: 100%;
  overflow: hidden;
}

.container {
  border-radius: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #232323;
  border: 1px solid #474747;
  border-radius: 45px;
  color: #fff;
  padding: 2.05rem 3.5rem;
  width: 10rem !important;

  &__head {
    font-size: 1.3rem;
    margin: 0;
    margin-bottom: 2.95rem;
  }

  &__discount {
    font-family: "Soyuz";
    font-size: 5rem;
    margin: 0;
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 1.17rem;
    margin: 0;
    margin-bottom: 1.75rem;
  }
}

.swiper-pagination-bullet {
  height: 7px;
  width: 26px;
  background: #474747;
  border-radius: 25px;
}

.card:nth-child(even) {
  color: #232323;
  background: #fff;
  border: 1px solid #000000;
}


.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}



.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount-card {
  height: 20rem !important;

  justify-content: space-between;;
}
.offers-slider-elem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 18rem;
  padding: 5rem 8.33rem;

  &__info{
    display: flex;
    flex-direction: column;
    line-height: 150%;
    width: 50%;
  }
  &__head {
    font-family: "Montserrat";
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.06rem;
    font-size: 2.2rem;
    line-height: 95%;
    margin-bottom: 1.67rem;
    margin-top: 0;
  }

  &__text {
    width: 70%;
    font-size: 0.75rem;
    text-align: left;
    margin-bottom: 1.67rem;
  }
}

.offer-slide {
  background-color: #232323;

  &__image {
    width: 20.83rem;
    align-self: flex-end;
  }
}


.slide-shadow1 {
  filter: blur(7.2em);
  position: absolute;
  top: 3.46rem;
  right: -8rem;
  height: 29.2rem;
  width: 29.2rem;
  z-index: -1;
  background: radial-gradient(circle, rgb(242 0 0 / 50%) 0%, rgb(255 255 255 / 0%) 60%);
}

.slide-shadow2 {
  filter: blur(7.2em);
  position: absolute;
  top: -11.5rem;
  right: 60rem;
  height: 29.2rem;
  width: 29.2rem;
  z-index: -1;
  background: radial-gradient(circle, rgb(255 255 255 / 50%) 0%, rgb(255 255 255 / 0%) 60%);
}

.slide-shadow3 {
  filter: blur(7.2em);
  position: absolute;
  top: 3.46rem;
  right: -8rem;
  height: 29.2rem;
  width: 29.2rem;
  z-index: -1;
  background: radial-gradient(circle, rgb(255 255 255 / 50%) 0%, rgb(255 255 255 / 0%) 60%);
}


@media screen and (max-width: 1536px) {
  swiper-container{
    width:14rem;
    height:18rem;
  }
  .discount-card{
    height:17rem !important;
  }
}
@media screen and (max-width: 1440px) {
  .card{

    &__discount{
      font-size:4rem;
    }
  }
  .discount-card{
    padding:1.5rem 2rem;
  }
}
@media screen and (max-width: 1280px) {
  // .discount-card{
  //   margin-right:2rem !important;
  // }
}
@media screen and (max-width: 1024px) {
  .offers-slider-elem{
    padding:5rem 5rem;
  }
  swiper-container{
    width:12rem;
    height: 17rem;
  }
  .discount-card{
    padding: 1rem 1.5rem;
    height:15rem !important;
  }
  .card{
    &__head{
      margin-bottom: 2rem;
    }
    &__discount{
      margin-bottom:1rem;
    }
  }
}
@media screen and (max-width: 834px) {
  swiper-container{
    width:10rem;
    height:15rem;
  }
  .discount-card{
    height: 12rem !important;
    padding:1rem;
    //margin-right: 1rem !important;
  }
  .card{
    &__head{
      font-size: 1rem;
    }
    &__discount{
      font-size:3rem;
    }
  }
}
@media screen and (max-width: 736px) {
  swiper-container{
    width:10rem;
    height:17rem;
  }
  swiper-slide{
    border-radius:40px;
  }
  .card{
    &__head{
      font-size: 0.8rem;
    }
    &__discount{
      font-size: 2rem;
    }
  }
  .discount-card{
    width:8rem !important;
    height:11.5rem !important;
    border-radius: 25px;
    padding:0.7rem;
  }
}
@media screen and (max-width: 414px) {

}
@media screen and (max-width: 375px) {

}
@media screen and (max-width: 320px) {

}
