.button{
    background-color: transparent;
    border:1px solid #fff;
    border-radius: 45px;
    width:fit-content;
    padding: 0.83rem 2.3rem;

    &__content{
        background: none;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 0.67rem;
        color: #fff;
        margin:0;
        font-weight: bold;
    }
}

.slider-button{
    background-color: transparent;
    border:1px solid #fff;
    border-radius: 45px;
    width:fit-content;
    padding: 0.83rem 2.3rem;

    &__content{
        background: none;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 0.67rem;
        color: #fff;
        margin:0;
        font-weight: bold;
    }
}
.swiper-slide:nth-child(even) .slider-button{
    border:1px solid #232323;
    &__content{
        color: #232323;
    }
}


//элементы формы
$label-font-size: 1.16rem;
input[type="text"], input[type="email"], textarea{
    background: none;
    border:1px solid #fff;
    resize:none;
    color:#fff;
}
input[type="text"], input[type="email"]{
    margin-right: 1.67rem;
}
label{
    font-size:$label-font-size;
    color:#fff;
    margin:0.625rem 0;
}

/* Стилизация самого чекбокса */
input[type="checkbox"] {
    appearance: none; /* Убираем стандартный вид */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px; /* Задаем желаемые размеры */
    height: 20px;
    border: 1px solid #fff; /* Тонкая белая граница */
    background-color: transparent; /* Прозрачный фон */
    outline: none; /* Убираем контур при фокусе */
    cursor: pointer; /* Курсор при наведении */
    border-radius: 3px; /* Закругленные углы */
    transition: 0.5s ease-in-out;
}

/* Стилизация метки чекбокса */
input[type="checkbox"] + label {
    font-size: 1rem; /* Размер текста */
    color: #fff; /* Цвет текста */
    margin-left: 0.5rem; /* Отступ слева */
}

/* Стилизация чекбокса при его выборе */
input[type="checkbox"]:checked {
    transition: 0.5s ease-in-out;
    background-color: #fff; /* Фон при выборе */
    border-color: #fff; /* Граница при выборе */
}

.form-shadow1{
    filter: blur(7.2em);
    position: absolute;
    top:-24.5rem;
    right:58rem;
    height:29.2rem;
    width:29.2rem;
    background: radial-gradient(circle, rgb(255 255 255 / 50%) 0%, rgb(255 255 255 / 0%) 60%);
}
.form-shadow2{
    filter: blur(7.2em);
    position: absolute;
    top:-1.54rem;
    right:-15rem;
    height:29.2rem;
    width:29.2rem;
    background: radial-gradient(circle, rgb(255 0 0 / 50%) 0%, rgb(255 255 255 / 0%) 60%);
}